#colorpicker-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 280px;
  width: 280px;
  background-color: #ffffff;
  box-shadow: 0 0 2px 2px #ccc;
}

#colorpicker-container > .close:before {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 8px;
  cursor: pointer;
  content: '☓';
  font-size: 14px;
}

#colorpicker-container > .default {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px 8px;
  cursor: pointer;
  font-size: 14px;
}

#colorpicker {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-color-button {
  cursor: pointer;
}
